<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/include/baseLayout :: setContent( ~{ :: .wrap} ) }">

	<div class="wrap">
  		
  		<script src="/js/jquery-3.7.1.min.js"></script>
  		<link rel="stylesheet" href="/css/progressBar.css">
  		<h2>그룹별 진도 현황</h2>
  		<label for="c1">입문반</label>
  		<progress id="c1" max="100" value="87"></progress>

  		<label for="c2">기초반</label>
  		<progress id="c2" max="100" value="44"></progress>

  		<label for="c3">초급반</label>
  		<progress id="c3" max="100" value="32"></progress>
  
  		<label for="c4">중급반</label>
  		<progress id="c4" max="100" value="49"></progress>

  		<label for="c5">사활반</label>
  		<progress id="c5" max="100" value="68"></progress>

  		<label for="c6">실전반</label>
  		<progress id="c6" max="100" value="28"></progress>
  		<div hidden="hidden" class="progressOption">
  			<!-- 관리자권한일 경우 div hidden="none" -->
  			
  		</div>
  		<div>
  			<h2>사활풀이 순위</h2>
  			<table class="rankTable">
  				<tr>
  					<th>순위</th>
  					<th>총점</th>
  					<th>이름</th>
  					<th>그룹</th>
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<td></td>
  					<td></td>
  				</tr>
  				
  			</table>
  		</div>
  	</div>
  	
</th:block>
  <script>
    $('progress').each(function () {
    
    const max = $(this).attr('value');
    
    $(this).val(0).animate({ value: max }, 1500);
	});
    
  </script>

</html>