<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전체 그룹 진도 관리 페이지 입니다.</title>
  <script src="../../static/js/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="../../static/css/progressBar.css">
</head>
<body>
  <h2>그룹별 진도 현황</h2>
  <label for="c1">입문반</label>
  <progress id="c1" max="100" value="87"></progress>

  <label for="c2">기초반</label>
  <progress id="c2" max="100" value="44"></progress>

  <label for="c3">초급반</label>
  <progress id="c3" max="100" value="32"></progress>
  
  <label for="c4">중급반</label>
  <progress id="c4" max="100" value="49"></progress>

  <label for="c5">사활반</label>
  <progress id="c5" max="100" value="68"></progress>

  <label for="c6">실전반</label>
  <progress id="c6" max="100" value="28"></progress>
  <script>
    $('progress').each(function () {
    
    const max = $(this).attr('value');
    
    $(this).val(0).animate({ value: max }, 1000);
});
  </script>
</body>
</html>