<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/comunityReg.css">
<th:block th:replace="~{/include/baseLayout :: setContent( ~{ :: .wrap} ) }">

	<div class="wrap">
	<div class="container-fluid py-4">
      <div class="container-title">질문하기</div>
      <form>
        <div class="reg-wrap">
          <div class="reg-title">
            <p>제목</p>
            <input type="text">
          </div>
          <div class="reg-content">
            <p>내용</p>
            <textarea id="textarea"></textarea>
          </div>
          <div class="reg-button"> 
            <input type="submit" class="regBtn" value="등록하기">
            <button type="button" class="backBtn">취소
          </div>
      </form>

      </div>
	</div>

</th:block>
</html>